* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.IMG {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
  padding: 10px;
}

.images {
  max-width: 400px;
  overflow: hidden;
  display: grid;
}

#submit {
  background-color: gray;
  color: white;
  border-radius: 10px;
  border: solid black;
  padding: 5px;
  cursor: pointer;
}

.margin {
  margin-left: 10vw;
  margin-top: 20px;
}

#city {
  border-radius: 5px;
  padding: 4px;
}

.inp {}